html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Erasaur";
}

@keyframes showTitle {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.button {
  margin: 0 auto;
  color: #ffbf00;
  background-color: #000d14;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  display: flex;
  font-family: "Erasaur";
}

.button-hidden {
  margin: 0 auto;
  color: #ffbf00;
  background-color: #000d14;
  border: 2px solid #ffbf00;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  font-family: "Erasaur";
  visibility: hidden;
}

.title {
  margin: 0 auto 100px auto;
  color: White;
  font-size: 200px;
  animation-name: showTitle;
  animation-duration: 4s;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
