body, html {
  width: 100%;
  height: 100%;
  background-color: #000d14;
  font-family: "Erasaur";
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 250px;
}

.parent {
  width: 1000px;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.child {
  width: 100%;
  height: 100%;
  background-color: #000d14; /* fallback color */
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
  transition: all .5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.5);
}

.button {
  color: white; /* Good thing we set a fallback color! */
  background-color: #000d14;
  border: 1px solid White;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px;
  position: static;
  display: none;
  margin: 0 auto;
}

.parent:hover button,
.parent:focus button {
  display: block;
}

.parent:hover h1,
.parent:focus h1 {
  display: block;
}

.title {
  color: White;
  font-size: 100px;
  display: none;
  margin: 0 auto;
}
